@font-face {
  font-family: 'Dancing-Bold';
  src: URL('../static/DancingScript-Bold.ttf') format('truetype');
}
  @font-face {
  font-family: 'Dancing-Medium';
  src: URL('../static/DancingScript-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing-Regular';
  src: URL('../static/DancingScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing-SemiBold';
  src: URL('../static/DancingScript-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fresca-Regular';
  src: URL('../static/Fresca-Regular.ttf') format('truetype');
}